$font-family-sans-serif: 'Roboto Mono', sans-serif;

$primary: rgb(189,161,111);
$secondary: rgb(244,252,172);
$success: rgb(230,212,152);
$info: rgb(119,119,89);
$light: rgb(249,250,251);
$dark: rgba(0,0,11,0.7);
$warning: rgb(33,37,41);


@import "../node_modules/bootstrap/scss/bootstrap";